@import '../../styles/constants.sass'

.closeIcon-small
    position: absolute
    color: $primaryWhite
    cursor: pointer
    right: 5px 
    top: -18px 
    width: 14px !important
    outline: none